body {
    background: #f5f4f0;
    margin: 0;
}

* {
    line-height: 1.7;
    font-family: 'IBM Plex Sans', sans-serif;
}

* a {
    font-size: inherit;
    text-decoration: underline;
    color: inherit;
}

.nav-item {
    padding: 20px;
    background-color: #303030;
    color: #f5f4f0;
    width: calc(100% - 40px);
    text-align: center;
}

.nav-item a {
    text-decoration: none;
}

.active-nav.nav-item {
    color: #303030;
    background-color: #f5f4f0;
}

.active-nav.nav-item {
    text-decoration: none;
}

ul {
    text-align: left;
    font-size: 1.2em;
    width: inherit;
    margin: 20px;
}

.text {
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 2%;
    margin-bottom: 1%;
    max-width: 70ch;
    font-size: 1.3em;
    text-align: left;
}

.text * {
    font-size: 1.3em;
}

nav {
    display: flex;
    flex-direction: column;
    width: 20%;
    position: fixed;
    height: 100vh;
    background: #303030;
    justify-content: center;
    font-size: 1.2em;
}

#body-wrapper {
    float: right;
    width: 80%;
}

.page-section {
    min-height: calc(100vh - 3em);
    border-bottom: 2px solid #303030;
    flex-direction: column;
    text-align: left;
    margin-left: 4em;
    margin-right: 4em;
    padding-top: 2em;
    margin-bottom: 1em;
}

.page-section-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-section:last-child {
    border-bottom: none;
}

.section-header {
    font-family: 'IBM Plex Serif', serif;
    font-size: 2em;
    margin-top: 1%;
}

@supports(--a: 0) {
    :root {
        --nav-bg: #303030;
        --bg: #f5f4f0;
    }

    .nav-item {
        background: var(--nav-bg);
        color: var(--bg);
    }

    .active-nav.nav-item {
        background: var(--bg);
        color: var(--nav-bg);
    }

    nav {
        background: var(--nav-bg);
    }
    body {
        background: var(--bg);
        color: var(--nav-bg);
    }
    .page-section {
        border-color: var(--nav-bg);
    }
}

@media (hover: hover) {
    .nav-item:hover {
        background-color: #404040;
        color: #f5f4f0;
    }

    .nav-item a:hover {
        border-bottom: none;
    }
}

@media screen and (max-width: 800px) {
    .page-section {
        justify-content: initial;
        margin: 1em;
    }
    nav {
        width: 100%;
        flex-direction: row;
        flex-wrap: none;
        height: 6%;
        justify-content: center;
        align-items: center;
        position: sticky;
    }
    .nav-item {
        margin: 0;
        border: none;
        height: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
        font-size: initial;
    }
    #body-wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        margin: 0;
    }
    .text {
        max-width: 50ch;
    }
    ul {
        max-width: 50ch;
        font-size: 1.0em;
        padding-left: 5%;
        padding-right: 5%;
    }
}
#testing {
    height: 100%;
    display: flex;
    flex-direction: column;
}